body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.page-wrapper {
    width: 1200px;
}

h2 {
    margin: 0;    
    font-family: "Arial", sans-serif;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    margin: 0;    
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;   
}

p {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #404040;
    font-weight: 400;
    line-height: 30px;
}


.page-header {
    height: 550px;

    background-color: rgb(255, 203, 120);
    background-image: url("./img/wheat-back.jpg");
    background-size: cover;
    background-position: bottom;
}

.header-top {
    width: 800px;

     display: flex;
     justify-content: space-between;

     margin: 0 auto;
     padding-top: 60px;
}

.header-logo img{
    width: 140px;
    height: 76px;
}

.main-nav__wrapper {
    display: flex;
    align-items: center;
}

.main-nav {
    margin: 0;
    padding: 0;

    display: flex;

    width: 600px;
    min-height: 58px;

    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgb(141, 110, 59, 0.8);
    border-bottom: 1px solid rgb(141, 110, 59, 0.8);
}

.main-nav li {
    margin: 0;
    padding: 0;

    list-style-type: none;
    text-transform: uppercase;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
}

.main-nav a:hover {
    color: rgb(255, 203, 120);
    text-decoration: underline;
}

.main-nav a:active {
    color: rgb(255, 203, 120, 0.7);
    text-decoration: underline;
}

.main-inscription {
    max-width: 600px;

    font-family: "Arial", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    color: #ffffff;

    text-align: center;
    
    margin: 128px auto 0;
}

.new-items-wrapper {   
    width: 800px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 84px; 
}
 
.new-items-wrapper>h2 {
    margin-bottom: 97px;
}

.new-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new-item h2 {
    margin-bottom: 30px;
}

.new-item {
    margin: 0;
    width: 400px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    position: relative;

    border-left: 1px solid rgb(229, 229, 229);
    border-right: 1px solid rgb(229, 229, 229);
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 110px;
}

.new-item:nth-child(odd):not(:last-child) {
    border-right: 0px;
}

.new-item img {
    width: 319px;
    height: 459px;
}

.item-specifications-wrapper {
    width: 150px;

    position: absolute;
    right: 25px;
    top: 80px;
}

.item-specifications {
    border-collapse: collapse;
    width: 100%;
}

.item-specifications td {
    border: 1px solid rgb(229, 229, 229);
    padding: 10px;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.item-composition {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
}

.item-description {
    margin-top: 10px;
    min-height: 130px;
    margin-bottom: 10px;
}

.btn-and-price-wrapper {
    display: flex;
}

.btn {
    display: inline-block;
    width: 146px;
    box-sizing: border-box;

    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #834700;
    border: 2px solid #834700;

    text-align: center;
    vertical-align: top;
    padding: 10px;
    vertical-align: top;
}

.btn-discover {
    margin-right: 7px;
}

.btn-discover:hover {
    color: #6a3900;
    border-color: #6a3900;
    background-color: rgba(228, 224, 220, 0.3);
}

.btn-discover:active {
    opacity: 30%;
}

.btn-buy {
    width: 109px;

    background-color: #834700;
    color: #ffffff;
}

.btn-buy:hover {
    background-color: #6a3900;
}

.btn-buy:active {
    color:rgba(255, 255, 255, 0.3)
}

.new-item__price {
    align-self: center;
    margin-left: auto;

    padding: 5px;
}

.features {
    background-color: #ffcb78;
    padding-bottom: 75px;
}

.features__items {
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features__item {
    width: 400px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    margin-top: 75px;
    padding-left: 95px;
    padding-right: 95px;

    border-right: 1px solid #e5b66c;
}

.features__item:last-child {
    border-width: 0px;
}

.features__item img {
    margin-bottom: 35px;
}

.features__item h3 {
    margin-bottom: 30px;
}

.icon-brew {
    width: 50px;
    height: 68px;
}

.icon-matreshka {
    width: 45px;
    height: 65px; 
}

.icon-thumbsup {
    width: 63px;
    height: 58px;
}

.history {
    width: 800px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

.history h2 {
    margin-bottom: 70px;
}

.history__list {
    display: flex;
    flex-direction: column;
}

.history__item {
    margin-bottom: 70px;
}

.history__term {
    display: flex;
    justify-content: space-between;
}

.history__content {
    margin: 0;

    display: flex;
    justify-content: space-between;
}

.history__content p {
    width: 500px;
}

.history__content img {
    width: 200px;
    height: 101px;

    align-self: center;
}

.history__term h3 {
    width: 500px;
    margin-bottom: 30px;
}

.history__term i {
    max-width: 200px;

    font-weight: 400;
    text-align: end;
}

.history__term a {
    display: inline-block;

    margin: 0;

    word-break: break-all;

    color: #834700;
}

.history__term a:hover {
    color: #6a3900; 
}

.history__term a:active {
    color: #cab7a2; 
}

.press-reviews {
    background-color: #ede5d8;
}

.press-reviews__wrapper {
    width: 800px;

    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 90px;
}

.press-reviews__content {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.press-reviews__wrapper h2 {
    margin-bottom: 83px;
}

.press-reviews__wrapper-info {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.press-reviews__wrapper-info cite {
    align-self: center;

    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
}

.btn_press-reviews {
    width: 168px;

    border-color: #a5a097;
    color: rgba(0, 0, 0, 0.3);
}

.btn_press-reviews:hover {
    background-color: #a5a097;
    color: #ffffff;
}

.btn_press-reviews:active {
    background-color: #8f8a81;
    color: #a5a097;
}

.press-reviews__content p {
    width: 700px;
    position: relative;
}

.press-reviews_quotes {
    width: 41px;
    height: 31px;

    position: absolute;
    left: -106px;
    top: 7px;
}

.product-range {
    width: 800px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
    padding-bottom: 90px;
}

.product-range h2 {
    margin-bottom: 90px;
}

.product-range__price-list{
    margin: 0 auto;

    width: 100%;

    border-collapse: collapse;
}

.product-range__price-list th {
    font-family: "Arial", sans-serif;
    font-size: 11px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase; 
    color: #999999;
    text-align: left;

    padding-bottom: 32px;

    border-bottom: 1px solid #e5e5e5;
}

.product-range__price-list th:last-child {
    text-align: right;
}


.product-range__price-list td {
    border-bottom: 1px solid #e5e5e5;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase; 
    color: #404040;
    
    padding-top: 11px;
    padding-bottom: 11px;
}

.product-range__price-list .price-list__name {
    font-weight: 700;
}

.product-range__price-list .price-list__name sup {
    background-color: #000000;
    color: #ffffff;

    border-radius: 3px;
    
    font-size: 8px;
    font-weight: 700;
    line-height: 8px;

    padding: 3px;
    margin-left: 24px;
}

.price-list__price {
    text-align: right;
}